body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.home-greet {
  font-size: 10rem;
}

@media (max-width: 800px) {
  .home-greet {
    font-size: 8rem;
  }
}

@media (max-width: 500px) {
  .home-greet {
    font-size: 6rem;
  }
}

@media (max-width: 300px) {
  .home-greet {
    font-size: 4rem;
  }
}
